body{
    background-color: orangered;
    color: black;
    font-family: monospace;
}

body > header {
    overflow:hidden;
    position:relative;
    width:100%;
    margin-top:100px;
    margin-bottom:100px;
    margin-left:100px;
    margin-right:100px;
}

div.image{
    width:20%;
    display: inline-block;
    float: left;
}

div.text{
    width: 80%;
    height: auto;
    display: inline;
    margin-top: 100px;   
}

body > header > div > img{
    height: 70%;
    width: 70%;
}